:root {
  /* bg/text settings for dark/light options */
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */

  min-height: 100%;
  min-width: 100%;

}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

/* navbar & generic component */

.nav {
  /* background-color: var(--off-white); */
  /* position: sticky;
  top: 0px; */
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  background-color: rgb(163, 0, 0);
  transition-timing-function: ease-in;
  transition: 0.5s;
  top: -75px;
}

/* .nav-logo {
  height: 60px;
  width: 60px;
} */

.nav-static {
  position: fixed;
  top: 0px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  /* color: #333; */
}

.nav-item:hover {
  /* color: black; */
  cursor: pointer;
}

/* .section {

}

.section-dark {
  background: #333;
  color: white;
} */

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(33.33% - 20px);
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

/* darkmode toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}
  
.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: #151515;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: #fff;
content: "";
height: 1.625em;
width: 1.625em;
left: 0.25em;
bottom: 0.25em;
position: absolute;
transition: .4s;
}

input:checked + .slider {
background-color: #8c8a8a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* projects */
.project {

}

.project-card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-card {
  width: 500px; 
  padding: 20px; 
  background-color: #836666;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px; 
  align-items: center;
}

/* skills */

/* the overall skill container */

/* #343434; */
/* the individual element (python, jscript, etc */
.skill-card {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 calc(33.33% - 20px); */
  width: 100px; 
  padding: 20px; 
  background-color: #836666;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px; 
 
  /* justify-content: space-between; */
}

