.body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: orangered;
}

:root {
  /* bg/text settings for dark/light options */
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */

  font-family: inconsolata, monospace;
}


.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

/* navbar & generic component */

.nav {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  background-color: rgb(163, 0, 0);
  transition-timing-function: ease-in;
  transition: 0.5s;
  top: -80px;
  z-index: 1;
}

.nav-static {
  position: fixed;
  top: 0px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  /* color: #333; */
}

.nav-item:hover {
  /* color: black; */
  cursor: pointer;
}

.section-content {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center space-evenly;
  /* align-items: center; */
  flex: 1 0 calc(33.33% - 20px);
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

/* darkmode toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}
  
.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: #151515;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: #fff;
content: "";
height: 1.625em;
width: 1.625em;
left: 0.25em;
bottom: 0.25em;
position: absolute;
transition: .4s;
}

input:checked + .slider {
background-color: #8c8a8a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* projects */
.project {

}

.project-card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
}

.project-card {
  width: 200px; 
  padding: 20px; 
  background-color: #836666;
  justify-content:center;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px; 
  align-items: center;
}

/* skills */

/* the overall skill container is a section-content */
/* the individual element (python, jscript, etc */
.skill-card {
  width: 150px; 
  padding: 20px; 
  background-color: #836666;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px; 
}

/* contactme */

.contact-me {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-bottom: 15%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem
}

.input {
  height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  border-color: #ccc;
  outline: none;
}

.input:focus {
  border-color: #38b2ac;
  box-shadow: 0 0 0 2px #38b2ac;
}

.textarea {
  height: 8rem;
  padding: 0.75rem;
  margin-top: 0.5rem;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  border-color: #ccc;
  outline: none;
}

.email-button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #f97316;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.email-button:hover,
.email-button:focus {
  background-color: #fca788;
}

/* socials */

.socials-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.socials-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 1rem; */
  /* padding: 1rem; */
  list-style: none;
}

.social-link{
  position: relative;
  justify-content: space-evenly;  
}

.icon {
  padding-top: 0.75rem; 
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0rem;
}
